<div class="container">
    <h1>SS-Tilemap Builder Tool</h1>
    <div class="col-md-4">
        <div id="insert-tileset"></div>
        <div id="tile-settings">
            <% if @tiles %>
                <img src="<%= @tiles[0].relative_path %>"/>
            <% end %>
        </div>
        <%= form_tag '/upload', action: :upload, multipart: true do |m| %>
            <%= file_field_tag 'tileset' %>
            <div>
                <%= label_tag 'rows' %>
                <%= number_field_tag 'rows', nil, min: 1 %>
            </div>
            <div>
                <%= label_tag 'columns' %>
                <%= number_field_tag 'columns', nil, min: 1 %>
            </div>
            <%= submit_tag 'Upload' %>
        <% end %>
    </div>
    <div class="col-md-8">
        <div id="tilemap-settings">
            <label for="tilemap-width">Width</label>
            <input id="tilemapWidth" type="number" min="5" name="tilemap-width" value="30">

            <label for="tilemap-height">Height</label>
            <input id="tilemapHeight" type="number" min="5" name="tilemap-height" value="20">
            <input type="button" value="Refresh" onclick="refreshTilemap()">
        </div>
        <div class="tilemap">
          <table><div id="insert-tilemap"></div></table>
        </div>
        <button>Download JSON</button>
        <button>Download XML</button>
    </div>
</div>
